# API
APP_PORT=8000
CORS_ORIGINS=*

# Postgres
POSTGRES_DB=calculadora
POSTGRES_USER=calculadora
POSTGRES_PASSWORD=calculadora
POSTGRES_PORT=5432

# Si ejecutas fuera de Docker Compose:
# DATABASE_URL=postgresql+psycopg2://calculadora:calculadora@localhost:5432/calculadora
